
  .container {
    color: black; 
   
      height: 20%;
      max-width: 100%;
      display: grid;
      place-items: center;
      font-size: 100%;
      border: none;
  }
  
#australia-slider > h1{
  text-align: left; 
  display: grid;
      place-items: center;
 color: black; 
display: grid;
place-items: center;
  }

#australia-slider{
 font-family: sans-serif;
 margin: auto;
 
 max-width: 800px;
 width: 100%;
 padding: 30px;
 box-sizing: border-box;
 
}

#australia-slider > ul, li {
   padding: 0;
   margin: 0;
   list-style: none;
   cursor: pointer;
}

#australia-slider > ul.slider{
 position: relative;
 max-width: 800px;
 width: 100%;
 height: 300px;
 z-index: index 2;
}

#australia-slider > ul.slider h1{
 position: absolute;
 font-size: 250%;
 color:black;
 background-color: white;
 padding: 5px;
 left: 50%;
 top: 10px;
 opacity: 0.75;
 transform: translate(-50%, -50%);
}

#australia-slider > ul.slider li {
  position: absolute;
   left: 0px;
   top: 0px;
   opacity: 0;
   width: inherit;
   height: inherit;
   transition: opacity .5s;
   background:#fff;
}

#australia-slider > ul.slider li img{
 width: 100%;
 height: 300px;
 object-fit: cover;
}

#australia-slider > ul.slider li:first-child {
   opacity: 1; 
}

#australia-slider > ul.slider li:target {
   opacity: 1; 
}

#australia-slider > .menu{
 text-align: center;
 margin: 20px;
}

#australia-slider > .menu li{
 display: inline-block;
 text-align: center;
}

#australia-slider > .menu li a{
 display: inline-block;
 color: white;
 text-decoration: none;
 background-color: grey;
 width: 20px;
 height: 20px;
 font-size: 20px;
 border-radius: 100%;
}
.descricpion{
  display: flex;
    width: 100%; 
  

}
.descripcion_parrafo{
  display: block;
    text-align: justify;
    border: 1px solid white;
    border: none;
    width: 50%;
    margin-right: 2%;
    margin-left: 1%;
    
}

.descripcion_parrafo_1 {
  display: block;
  text-align: justify;
  border-bottom: 1px solid black;
  border: none;
  width: 25%;
  margin-top: 1%;
}
.primer_color {
  border-bottom: 1px solid black;
  border-right: none;
  padding-left: 2%;
}
.segundo_color {
  border-bottom: 1px solid black;
  border-left: none;
 ;
}
.reserva {
  max-width: 65rem;
  width: 100%;
  margin: 2rem auto;
  text-align: center;
  
      
  }
       
.surprise {
    width: 60%;
    height: 20%;
  place-items: center;
  font-size: 30px;
  background: blue;
  color: black;
  border: 0.25rem solid  black;
  padding: 0.85em 0.75em;
  margin: 1%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  overflow:hidden;
}            
.surprise:hover{
  
  -webkit-transform:scale(1.3);transform:scale(1.3);
}

  
            
           