h1{
    text-align: center;
    margin: 30px 0px;
}



.contenedorCarrito{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
}

.contenedorCarrito > div{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #2D4263;
    border-radius: 20px;
}

.contenedor > div:hover{
    background-color: #11294D;
}
td > img {
    width: 100px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.informacion{
    height: 150PX;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.informacion>p:first-child{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 300;
}

